<div class="row title bg-light">
  <% if (currentAdmin) { %>
    <a href="/shop"><h1 class="text-center mini-title">Boss Mode</h1></a>
  <% } else { %>
            <a href="/shop"><h1 class="text-center mini-title">Damsel In Dis Dress</h1></a>
  <% } %>
</div>
