<% include ../partials/header %>
  <% include ../partials/prenav %>
    <% include ../partials/nav %>
      <div class="container main-content">
        <% for (cartItems of products) { %>
          <div class="row">
            <div class="col-4">
              <p><strong><%= cartItems.item.name %></strong></p>
            </div>
            <div class="col-4 text-right">
              <p>
                <%= cartItems.qty %>
              </p>
            </div>
            <div class="col-4 text-right">
              <p>
                <%= cartItems.item.price %>
              </p>
            </div>
          </div>
          <% } %>
            <div class="row">
              <div class="col text-right">
                <p><strong>Total Price:</strong>
                  <%= currentCart.totalPrice %>
                </p>
              </div>
            </div>
      </div>
      <% include ../partials/footer %>
