<div class="row">
  <div class="col-sm-6">
    <ul class="list-group">
      <li class="list-group-item">
        <span class="badge"></span>
        <strong>Name</strong>
        <span class="label label-success">Price</span>
      </li>
    </ul>
  </div>
</div>
