<% include ../../partials/header %>
  <div class="login">
    <div class="login-box">
      <h1>Sign In</h1>
      <form action="/sessions" method="POST">
        <input type="text" name="username" placeholder="Username" />
        <input type="password" name="password" placeholder="Password"/>
        <input type="submit" value="Log In" />
      </form>
    </div>
  </div>
  <% include ../../partials/footer %>
